body{
	margin: 0;
	line-height: 1.5;
	font-size: 1.5rem;
	font-weight: 400;
	font-family:"source code pro", sans-serif;
}
nav.navbar .brand-text span,strong{
	display: inline-block;
	float: left;
}
nav.navbar{
	background: #2f333e;
	color: #FFFFFF;	       /*字体颜色*/
	padding-top: 15px;     /*内边距(上)*/
	padding-bottom: 15px;  /*内边距(下)*/
	border-radius: 0;      /*圆角边框*/
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);   /*边框阴影*/
	padding-left: 0;
	padding-right: 0;
}
nav.navbar .navbar-header a{
	display: block;    /*2个a标签并排显示，首先设置为block，在设置float*/
	float: left;
}
nav.navbar .menu-btn span:nth-of-type(2){
	width: 35PX;
}
nav.navbar .navbar-header .navbar-brand{
	margin-right: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: inherit;
}
nav.navbar .container{
	width: 100%;
	padding: 0 30px;
	margin-right: auto;
	margin-left: auto;
	display: flex;   /*设置为弹性盒子*/
}
nav.navbar .menu-btn span{
	width: 20px;
	height: 2px;
	background: white;
	display: block;
	margin: 4px auto 0;   /*span上下分割开*/
}